<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.hi.project.dao.UserDao">

	<select id="findByUserid" parameterType="String" resultType="map">
        SELECT * FROM user
        WHERE user_id = #{userid}
    </select>
    
    <insert id="insertUser" parameterType="kr.hi.project.domain.UserDTO">
        INSERT INTO user (user_name, user_id,user_password, user_email)
        VALUES (#{username}, #{userid}, #{password}, #{email})
    </insert>
    
    <select id="findUsernameByUserid" parameterType="string" resultType="string">
    	SELECT user_name FROM user
    	WHERE user_id = #{userid}
	</select>
	
	<select id="findEmailByUserid" parameterType="string" resultType="string">
    	SELECT user_email FROM user
    	WHERE user_id = #{userid}
	</select>
	
	<select id="findUsernumByUserid" parameterType="string" resultType="int">
    	SELECT user_num FROM user
    	WHERE user_id = #{userid}
	</select>
	
	<select id="getUserInfo" resultType="kr.hi.project.domain.UserPrivacyDTO">
	    SELECT 
	        u.user_num AS usernum,
	        u.user_id AS userid,
	        u.user_name AS username,
	        u.user_email AS email,
	
	        p.up_gender AS gender,
	        p.up_height AS height,
	        p.up_weight AS weight,
	        p.up_target_weight AS targetweight,
	        p.up_age AS age,
	        p.up_act AS act

	    FROM user u
	    JOIN user_privacy p ON u.user_num = p.user_num
	    WHERE u.user_num = #{usernum}
	</select>
	
    <update id="informationUpdata" parameterType="kr.hi.project.domain.UserPrivacyDTO">
	    UPDATE user u
	    JOIN user_privacy p ON u.user_num = p.user_num
	    SET u.user_name = #{username},
	    u.user_email = #{email},
	    p.up_gender = #{gender},
	    p.up_height = #{height},
	    p.up_weight = #{weight},
	    p.up_target_weight = #{targetweight},
	    p.up_age = #{age},
	    p.up_act = #{act}
	    WHERE u.user_num = #{usernum}
	</update>
	
	<select id="findUserAllergies" parameterType="int" resultType="String">
	    SELECT a.al_name
	    FROM user_allergy ua
	    JOIN allergy a ON ua.al_num = a.al_num
	    WHERE ua.user_num = #{usernum}
	</select>

</mapper>