<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.hi.travel_community.mapper.LikeMapper">

    <select id="checkLikeStatus" resultType="int">
        SELECT COUNT(*) FROM likes 
        WHERE li_id = #{poNum} 
          AND li_mb_num = #{mbNum} 
          AND li_name = 'post'
    </select>

    <insert id="insertLikeLog">
        INSERT INTO likes (li_state, li_id, li_name, li_mb_num, li_time) 
        VALUES (1, #{poNum}, 'post', #{mbNum}, NOW())
    </insert>

    <delete id="deleteLikeLog">
        DELETE FROM likes 
        WHERE li_id = #{poNum} 
          AND li_mb_num = #{mbNum} 
          AND li_name = 'post'
    </delete>

    <select id="checkScrapStatus" resultType="int">
        SELECT COUNT(*) FROM likes 
        WHERE li_id = #{poNum} 
          AND li_mb_num = #{mbNum} 
          AND li_name = 'scrap'
    </select>

    <insert id="insertScrapLog">
        INSERT INTO likes (li_state, li_id, li_name, li_mb_num, li_time) 
        VALUES (1, #{poNum}, 'scrap', #{mbNum}, NOW())
    </insert>

    <delete id="deleteScrapLog">
        DELETE FROM likes 
        WHERE li_id = #{poNum} 
          AND li_mb_num = #{mbNum} 
          AND li_name = 'scrap'
    </delete>

</mapper>